[submodule "lib/python/pyTuplingUtils"]
	path = lib/python/pyTuplingUtils
	url = https://github.com/umd-lhcb/pyTuplingUtils.git
	ignore = dirty
[submodule "lib/python/pyBabyMaker"]
	path = lib/python/pyBabyMaker
	url = https://github.com/umd-lhcb/pyBabyMaker.git
	ignore = dirty
