__pycache__
.DS_Store
.vscode
*.pyc
*~

gen
site
run*/*.root
studies/**/*.root
studies/**/*.tex
studies/**/*.md
studies/**/*.yml
studies/**/*.png
studies/**/*.pdf
*.csv

compile_commands.json
.lvimrc
.python-version
.ccls-cache
.virtualenv
.direnv

**/cond*lxplus.py
