__pycache__
.DS_Store
.vscode
*.pyc
*~
*.d
*.so
*.pcm

gen
site
run*/*.root
studies/**/*.root
studies/**/*.tex
studies/**/*.md
studies/**/*.yml
studies/**/*.png
studies/**/*.pdf
*.csv
*.pickle

compile_commands.json
batch_skim.sh
.lvimrc
.python-version
.ccls-cache
.virtualenv
.direnv

**/cond*lxplus.py

**/fit_results
