__pycache__
*.pyc
.DS_Store
.vscode
*~

bin
gen
site
run*/*.root
scripts/**/*.root
scripts/**/*.tex
scripts/**/*.md
scripts/**/*.yml
scripts/**/*.png
scripts/**/*.pdf
*.csv

.lvimrc
.python-version
compile_commands.json
.ccls-cache
.virtualenv
.direnv

**/cond*lxplus.py
