[submodule "lib/python/pyTuplingUtils"]
	path = lib/python/pyTuplingUtils
	url = https://github.com/umd-lhcb/pyTuplingUtils.git
[submodule "lib/python/pyBabyMaker"]
	path = lib/python/pyBabyMaker
	url = https://github.com/umd-lhcb/pyBabyMaker.git
[submodule "lib/python/TrackerOnlyEmu"]
	path = lib/python/TrackerOnlyEmu
	url = https://github.com/umd-lhcb/TrackerOnlyEmu.git
